<a href="https://colab.research.google.com/github/Viethoang0803/ph-n-t-ch-d-li-u-v-i-py/blob/main/tuan_5%2B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

A = np.array([[10,1,2],
              [9,7,4],
              [0,2,1]])
B =np.array([[2,3,4],
             [0,4,2],
             [3,2,1]])

#AB
tich = np.dot(A,B)
tich

array([[26, 38, 44],
       [30, 63, 54],
       [ 3, 10,  5]])

In [4]:

# Tính B * A^T * A * B^T
result1 = np.dot(B, np.dot(A.T, np.dot(A, B.T)))

# Tính A * B^T * B * A^T
result2 = np.dot(A, np.dot(B.T, np.dot(B, A.T)))

print("B * A^T * A * B^T:")
print(result1)

print("\nA * B^T * B * A^T:")
print(result2)
#nhận xét: ta thấy về mặt hình thức thì có vẻ như 2 phép tính là một nhưng về toán học thì 2 phép tính cho ra kết quả khác nhau do sự thay đổi giữa việc tính tích của ma trận với một ma trận chuyển vị

B * A^T * A * B^T:
[[4086 2328 3579]
 [2328 1460 1942]
 [3579 1942 3206]]

A * B^T * B * A^T:
[[2181 3523  560]
 [3523 6346 1135]
 [ 560 1135  225]]

In [5]:
# Concatenate ma trận A và B theo dòng
concatenated_matrix = np.concatenate((A, B), axis=0)

# Reshape ma trận A thành vecto
reshaped_vector = A.reshape(-1)

print("Concatenated Matrix A and B:")
print(concatenated_matrix)

print("\nReshaped Vector from Matrix A:")
print(reshaped_vector)

Concatenated Matrix A and B:
[[10  1  2]
 [ 9  7  4]
 [ 0  2  1]
 [ 2  3  4]
 [ 0  4  2]
 [ 3  2  1]]

Reshaped Vector from Matrix A:
[10  1  2  9  7  4  0  2  1]

In [7]:
A = np.array([[10,1,2],
              [9,7,4],
              [0,2,1]])
def softmax(x):
    exp_x = np.exp(x - np.max(x, axis=-1, keepdims=True))
    return exp_x / np.sum(exp_x, axis=-1, keepdims=True)

# Tính phân phối xác suất sau khi đi qua hàm softmax cho mỗi dòng
softmax_result = softmax(A)

# Tìm nhãn dự báo cho mỗi dòng
predicted_labels = np.argmax(softmax_result, axis=1)

# Tính tổng, trung bình, min và max của mỗi dòng
sums = np.sum(A, axis=1)
means = np.mean(A, axis=1)
mins = np.min(A, axis=1)
maxs = np.max(A, axis=1)

print("Phân phối xác suất sau softmax:")
print(softmax_result)

print("\nNhãn dự báo cho mỗi dòng:")
print(predicted_labels)

print("\nTổng của mỗi dòng:")
print(sums)

print("\nTrung bình của mỗi dòng:")
print(means)

print("\nMin của mỗi dòng:")
print(mins)

print("\nMax của mỗi dòng:")
print(maxs)

Phân phối xác suất sau softmax:
[[9.99541338e-01 1.23353201e-04 3.35308764e-04]
 [8.75600595e-01 1.18499655e-01 5.89975040e-03]
 [9.00305732e-02 6.65240956e-01 2.44728471e-01]]

Nhãn dự báo cho mỗi dòng:
[0 0 1]

Tổng của mỗi dòng:
[13 20  3]

Trung bình của mỗi dòng:
[4.33333333 6.66666667 1.        ]

Min của mỗi dòng:
[1 4 0]

Max của mỗi dòng:
[10  9  2]

In [9]:
#bai tap voi file excel
import numpy as np
import pandas as pd
dataset = pd.read_excel("/content/Week4-data_06.xlsx")
print(dataset)
print(dataset.head())

                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1       PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3      NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4          TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6
..                   ...    ...                        ...            ...
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
639      NGUYỄN TƯỜNG VY  60622        THCS Trịnh Hoài Đức              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0              2.0        3.0  9.00   8.9  8.75  29.65         1
1              7.0        2.0  8.75   9.6  9.25  29.60         2
2              7.0        2.0  8.25   9.6  9.25  29.10         3
3              7.0        NaN  8.75  10.0  9.25  28.00         4
4              2.0        2.0  8.25   9.7  8.00  27.95         5
..             ...        ...   ...   ...   ...    ...       ...
636            8.0        NaN  6.75   3.9  2.75  13.40       637
637           30.0        NaN  6.25   3.6  3.50  13.35       638
638            8.0        NaN  6.00   3.5  3.25  12.75       639
639            8.0        NaN  6.25   3.2  3.00  12.45       640
640           30.0        NaN  5.50   2.4  3.75  11.65       641

[641 rows x 11 columns]
                 Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0       QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1   PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2     TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3  NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4      TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6

   Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0            2.0        3.0  9.00   8.9  8.75  29.65         1
1            7.0        2.0  8.75   9.6  9.25  29.60         2
2            7.0        2.0  8.25   9.6  9.25  29.10         3
3            7.0        NaN  8.75  10.0  9.25  28.00         4
4            2.0        2.0  8.25   9.7  8.00  27.95         5

In [10]:
data = dataset.to_numpy()
print(data.shape)

(641, 11)

In [11]:
print(data[0])

['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' 6 2.0 3.0 9.0 8.9 8.75 29.65 1]

In [12]:
print(data.dtype)

object

In [13]:
print(data[0].dtype)

object

In [14]:
np.nan_to_num([0.3, np.nan, 2.4])

array([0.3, 0. , 2.4])

In [15]:
data[:, 5] = np.nan_to_num(data[:, 5].astype(float))
print(data[:, 5])
print(data[-1])

[3.0 2.0 2.0 0.0 2.0 0.0 2.0 0.0 0.0 2.0 2.0 0.0 1.0 0.0 0.0 2.0 2.0 1.0
 0.0 1.0 0.0 0.0 0.0 0.0 2.0 2.0 2.0 0.0 2.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 2.0 0.0 2.0 0.0 2.0 0.0 2.5 0.0 0.0 0.0 2.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 2.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 2.0 1.0 0.0
 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0
 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 2.0 0.0
 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 1.0 0.0 2.0 0.0 0.0 0.0 2.0 2.0 1.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 2.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 2.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 2.0 0.0 0.0 0.0
 1.5 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]
['LƯU QUANG ĐÔ' 60108 'THCS Trịnh Hoài Đức' 6 30.0 0.0 5.5 2.4 3.75 11.65
 641]

In [22]:
## Đưa ra thông tin của bạn với mã số: 60457
info_60457 = dataset[dataset['Mã số'] == 60457]
print("Thông tin với mã số 60457:")
print(info_60457)

Thông tin với mã số 60457:
                      Tên  Mã số   Trường cấp 2  Nguyện vọng 1  Nguyện vọng 2  \
100  NGUYỄN LÊ PHƯƠNG TÂM  60457  THCS Phú Long              6            7.0

     Điểm cộng  Văn  Anh  Toán   Tổng  Xếp hạng
100        2.0  7.0  9.4  6.25  24.65       101

In [30]:
## Đưa ra thông tin của bạn với tên là: Nguyễn Đình Nhân
info_name = dataset[dataset['Tên'] ==  'Nguyễn Đình Nhân']
print("Thông tin của bạn Nguyễn Đình Nhân:")
print(info_name)

Thông tin của bạn Nguyễn Đình Nhân:
Empty DataFrame
Columns: [Tên, Mã số, Trường cấp 2, Nguyện vọng 1, Nguyện vọng 2, Điểm cộng, Văn, Anh, Toán, Tổng, Xếp hạng]
Index: []

In [32]:
## Đưa ra thông tin của các bạn từ mã số: 60004 đến  60200 (Bạn nào không có thì không cần đưa ra)
info_60004_60200 = dataset[(dataset['Mã số'] >= 60004) & (dataset['Mã số'] <= 60200)]

# Hiển thị thông tin
print("Thông tin của các bạn từ mã số 60004 đến 60200:")
print(info_60004_60200)

Thông tin của các bạn từ mã số 60004 đến 60200:
                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
5     PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm              6
7         ĐẶNG MINH CHÂU  60067  THCS Nguyễn Thị Minh Khai              6
10         NGÔ MỸ GIA AN  60004    THCS-THPT Nguyễn Khuyến              6
..                   ...    ...                        ...            ...
634      NGUYỄN TUẤN ANH  60033            THCS Thanh Bình              6
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn  Anh  Toán   Tổng  Xếp hạng
0              2.0        3.0  9.00  8.9  8.75  29.65         1
2              7.0        2.0  8.25  9.6  9.25  29.10         3
5              7.0        NaN  8.50  9.9  9.50  27.90         6
7              2.0        NaN  9.00  9.9  9.00  27.90         8
10             2.0        2.0  7.50  9.3  8.75  27.55        11
..             ...        ...   ...  ...   ...    ...       ...
634            8.0        NaN  3.50  4.7  5.50  13.70       635
636            8.0        NaN  6.75  3.9  2.75  13.40       637
637           30.0        NaN  6.25  3.6  3.50  13.35       638
638            8.0        NaN  6.00  3.5  3.25  12.75       639
640           30.0        NaN  5.50  2.4  3.75  11.65       641

[197 rows x 11 columns]

In [34]:
# Tính điểm trung bình cho từng sinh viên
dataset['Điểm Trung Bình'] = dataset[['Văn', 'Anh', 'Toán']].mean(axis=1)

# Hiển thị thông tin với cột Điểm Trung Bình mới thêm vào
print("Thông tin với điểm trung bình:")
print(dataset[['Mã số', 'Tên', 'Văn', 'Anh', 'Toán', 'Điểm Trung Bình']])

Thông tin với điểm trung bình:
     Mã số                  Tên   Văn   Anh  Toán  Điểm Trung Bình
0    60132         QUÁCH KIM HÀ  9.00   8.9  8.75         8.883333
1    60421     PHẠM TRÚC PHƯƠNG  8.75   9.6  9.25         9.200000
2    60075       TRẦN KHẢ DOANH  8.25   9.6  9.25         9.033333
3    60417    NGUYỄN MAI PHƯƠNG  8.75  10.0  9.25         9.333333
4    60558        TRẦN MINH THY  8.25   9.7  8.00         8.650000
..     ...                  ...   ...   ...   ...              ...
636  60032        TRẦN NHẬT ANH  6.75   3.9  2.75         4.466667
637  60017  DOÃN THỊ PHƯƠNG ANH  6.25   3.6  3.50         4.450000
638  60151       CÙ THỊ GIA HÂN  6.00   3.5  3.25         4.250000
639  60622      NGUYỄN TƯỜNG VY  6.25   3.2  3.00         4.150000
640  60108         LƯU QUANG ĐÔ  5.50   2.4  3.75         3.883333

[641 rows x 6 columns]

In [35]:
# Tính điểm trung bình theo từng môn
diemTB_van = dataset['Văn'].mean()
diemTB_anh = dataset['Anh'].mean()
diemTB_toan = dataset['Toán'].mean()

# Hiển thị thông tin
print("Điểm trung bình theo từng môn:")
print("Điểm Trung Bình Văn:", diemTB_van)
print("Điểm Trung Bình Anh:", diemTB_anh)
print("Điểm Trung Bình Toán:", diemTB_toan)

Điểm trung bình theo từng môn:
Điểm Trung Bình Văn: 7.287051482059282
Điểm Trung Bình Anh: 6.99625585023401
Điểm Trung Bình Toán: 7.1080343213728545

In [36]:
## Đưa ra điểm thi trung bình cao nhất và thấp nhất cho toàn bộ 3 môn.
max_tong = max(diemTB_van, diemTB_anh, diemTB_toan)
min_tong = min(diemTB_van, diemTB_anh, diemTB_toan)

# Hiển thị thông tin
print("Điểm Trung Bình Cao Nhất:", max_tong)
print("Điểm Trung Bình Thấp Nhất:", min_tong)

Điểm Trung Bình Cao Nhất: 7.287051482059282
Điểm Trung Bình Thấp Nhất: 6.99625585023401

In [37]:
## Xếp danh sách dựa vào điểm trung bình của môn Toán + Anh, tìm bạn có vị trí 100
# Tính điểm trung bình của môn Toán + Anh
dataset['Điểm Trung Bình Toán Anh'] = dataset[['Anh', 'Toán']].mean(axis=1)

# Xếp danh sách theo điểm trung bình Toán + Anh
dataset_sorted = dataset.sort_values(by='Điểm Trung Bình Toán Anh', ascending=False)

# Hiển thị thông tin
print("Danh sách xếp hạng theo điểm trung bình Toán + Anh:")
print(dataset_sorted[['Mã số', 'Tên', 'Điểm Trung Bình Toán Anh']])

# Tìm bạn có vị trí 100
student_at_rank_100 = dataset_sorted.iloc[99] if len(dataset_sorted) >= 100 else None

# Hiển thị thông tin về bạn có vị trí 100
if student_at_rank_100 is not None:
    print("\nThông tin của bạn có vị trí 100:")
    print(student_at_rank_100)
else:
    print("\nKhông có đủ sinh viên để đạt đến vị trí 100.")

Danh sách xếp hạng theo điểm trung bình Toán + Anh:
     Mã số                  Tên  Điểm Trung Bình Toán Anh
11   60169       NGUYỄN AN HOÀI                     9.750
5    60158   PHẠM LỢI NGỌC HIỀN                     9.700
3    60417    NGUYỄN MAI PHƯƠNG                     9.625
8    60334         LÊ MINH NGỌC                     9.525
23   60129        PHẠM THANH HÀ                     9.500
..     ...                  ...                       ...
637  60017  DOÃN THỊ PHƯƠNG ANH                     3.550
638  60151       CÙ THỊ GIA HÂN                     3.375
636  60032        TRẦN NHẬT ANH                     3.325
639  60622      NGUYỄN TƯỜNG VY                     3.100
640  60108         LƯU QUANG ĐÔ                     3.075

[641 rows x 3 columns]

Thông tin của bạn có vị trí 100:
Tên                         NGUYỄN NGỌC QUỲNH ANH
Mã số                                       60010
Trường cấp 2                  THCS Trịnh Hoài Đức
Nguyện vọng 1                                   6
Nguyện vọng 2                                 8.0
Điểm cộng                                     2.0
Văn                                           7.5
Anh                                           9.8
Toán                                         6.75
Tổng                                        26.05
Xếp hạng                                       41
Điểm Trung Bình                          8.016667
Điểm Trung Bình Toán Anh                    8.275
Name: 40, dtype: object

In [46]:
## Giả sử 1 trường lấy toàn bộ 300 sinh viên, dựa theo
## a) Điểm môn Toán từ cao xuống thấp
## b) Điểm tổng 3 môn và điểm cộng từ cao xuống thấp
## c) Điểm trung bình 3 môn từ cao xuống thấp
## Đưa ra danh sách những bạn sinh viên được chọn vào trường đó.

# a) Sắp xếp theo điểm môn Toán từ cao xuống thấp
toan_sorted = dataset.sort_values(by='Toán', ascending=False)

# Lấy 300 sinh viên đầu tiên
selected_students_toan = toan_sorted.head(300)

# Hiển thị thông tin
print("Danh sách sinh viên được chọn dựa trên điểm môn Toán:")
print(selected_students_toan)

Danh sách sinh viên được chọn dựa trên điểm môn Toán:
                            Tên  Mã số               Trường cấp 2  \
8                  LÊ MINH NGỌC  60334        THCS Trần Đại Nghĩa
23                PHẠM THANH HÀ  60129  THCS Nguyễn Thị Minh Khai
20                  LƯU MINH ÂN  60037        THCS Trần Đại Nghĩa
5            PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm
11               NGUYỄN AN HOÀI  60169    THCS-THPT Nguyễn Khuyến
..                          ...    ...                        ...
346    NGUYỄN HUYỀN PHƯƠNG THẢO  60504          THCS Bình Thắng B
166         BÙI MINH KHÁNH ĐOAN  60107            THCS Chu Văn An
189  NGUYỄN TRƯỜNG THỤY ANH THƯ  60541        THCS Trịnh Hoài Đức
162            PHẠM PHƯƠNG ĐÔNG  60109       THCS Nguyễn Văn Tiết
342              MAI THANH BÌNH  60055        THCS Trịnh Hoài Đức

     Nguyện vọng 1  Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  \
8                6            7.0        NaN  8.75   9.3  9.75  27.80
23               6            2.0        NaN  7.50   9.5  9.50  26.50
20               6            7.0        NaN  7.75   9.4  9.50  26.65
5                6            7.0        NaN  8.50   9.9  9.50  27.90
11               6            2.0        NaN  8.00  10.0  9.50  27.50
..             ...            ...        ...   ...   ...   ...    ...
346              6           30.0        NaN  6.25   8.0  7.25  21.50
166              6            2.0        NaN  7.50   8.9  7.25  23.65
189              6            8.0        NaN  8.50   7.6  7.25  23.35
162              6            7.0        1.0  6.75   8.7  7.25  23.70
342              6            7.0        NaN  7.00   7.3  7.25  21.55

     Xếp hạng  Điểm Trung Bình  Điểm Trung Bình Toán Anh  Điểm Tổng 3 Môn
8           9         9.266667                     9.525            27.80
23         24         8.833333                     9.500            26.50
20         21         8.883333                     9.450            26.65
5           6         9.300000                     9.700            27.90
11         12         9.166667                     9.750            27.50
..        ...              ...                       ...              ...
346       347         7.166667                     7.625            21.50
166       167         7.883333                     8.075            23.65
189       190         7.783333                     7.425            23.35
162       163         7.566667                     7.975            22.70
342       343         7.183333                     7.275            21.55

[300 rows x 14 columns]

In [48]:
# b) Sắp xếp theo điểm tổng 3 môn và điểm cộng từ cao xuống thấp
# Tính điểm tổng 3 môn và điểm cộng
dataset['Điểm Tổng 3 Môn và điểm cộng'] = dataset[['Tổng','Điểm cộng']].sum(axis=1)
tong_cong_sorted = dataset.sort_values(by=['Điểm Tổng 3 Môn và điểm cộng'], ascending=False)

# Lấy 300 sinh viên đầu tiên
selected_students_tong_cong = tong_cong_sorted.head(300)
print("\nDanh sách sinh viên được chọn dựa trên điểm tổng 3 môn và điểm cộng:")
print(selected_students_tong_cong)

Danh sách sinh viên được chọn dựa trên điểm tổng 3 môn và điểm cộng:
                        Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0              QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1          PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2            TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
4             TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6
6    NGUYỄN NGỌC KHÁNH LINH  60249            THCS Thuận Giao              6
..                      ...    ...                        ...            ...
285             LÊ THÚY NHƯ  60376        THCS Trịnh Hoài Đức              6
284  NGUYỄN THỊ TUYẾT NHUNG  60372        THCS Trịnh Hoài Đức              6
288        NGUYỄN THÙY DUNG  60079        THCS Trịnh Hoài Đức              6
287          PHAN THÙY DUNG  60077  THCS Nguyễn Thị Minh Khai              6
289    NGUYỄN THỊ KIM KHÁNH  60226              THCS Phú Long              6

     Nguyện vọng 2  Điểm cộng   Văn  Anh  Toán   Tổng  Xếp hạng  \
0              2.0        3.0  9.00  8.9  8.75  29.65         1
1              7.0        2.0  8.75  9.6  9.25  29.60         2
2              7.0        2.0  8.25  9.6  9.25  29.10         3
4              2.0        2.0  8.25  9.7  8.00  27.95         5
6              8.0        2.0  8.00  8.9  9.00  27.90         7
..             ...        ...   ...  ...   ...    ...       ...
285            8.0        NaN  8.00  5.2  9.00  22.20       286
284            8.0        NaN  7.75  8.7  5.75  22.20       285
288            8.0        NaN  7.00  7.4  7.75  22.15       289
287            2.0        NaN  7.00  6.9  8.25  22.15       288
289            7.0        NaN  8.00  6.9  7.25  22.15       290

     Điểm Trung Bình  Điểm Trung Bình Toán Anh  Điểm Tổng 3 Môn  \
0           8.883333                     8.825            26.65
1           9.200000                     9.425            27.60
2           9.033333                     9.425            27.10
4           8.650000                     8.850            25.95
6           8.633333                     8.950            25.90
..               ...                       ...              ...
285         7.400000                     7.100            22.20
284         7.400000                     7.225            22.20
288         7.383333                     7.575            22.15
287         7.383333                     7.575            22.15
289         7.383333                     7.075            22.15

     Điểm Tổng 3 Môn và điểm cộng
0                           32.65
1                           31.60
2                           31.10
4                           29.95
6                           29.90
..                            ...
285                         22.20
284                         22.20
288                         22.15
287                         22.15
289                         22.15

[300 rows x 15 columns]

In [49]:
# c) Sắp xếp theo điểm trung bình 3 môn từ cao xuống thấp
trung_binh_sorted = dataset.sort_values(by='Điểm Trung Bình', ascending=False)

# Lấy 300 sinh viên đầu tiên
selected_students_trung_binh = trung_binh_sorted.head(300)
print("\nDanh sách sinh viên được chọn dựa trên điểm trung bình 3 môn:")
print(selected_students_trung_binh)

Danh sách sinh viên được chọn dựa trên điểm trung bình 3 môn:
                      Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
3       NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
5      PHẠM LỢI NGỌC HIỀN  60158         THCS Châu Văn Liêm              6
7          ĐẶNG MINH CHÂU  60067  THCS Nguyễn Thị Minh Khai              6
8            LÊ MINH NGỌC  60334        THCS Trần Đại Nghĩa              6
1        PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
..                    ...    ...                        ...            ...
316     VŨ TRỊNH LINH NHI  60352              THCS Phú Long              6
152      NGUYỄN THÁI LONG  60268              THCS Phú Long              6
151  NGUYỄN THỊ THÙY TRÂM  60575        THCS Trịnh Hoài Đức              6
317  NGUYỄN TRẦN HOÀNG VI  60603        THCS Trần Đại Nghĩa              6
318    TRẦN TÔ THANH LIÊM  60245        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng  \
3              7.0        NaN  8.75  10.0  9.25  28.00         4
5              7.0        NaN  8.50   9.9  9.50  27.90         6
7              2.0        NaN  9.00   9.9  9.00  27.90         8
8              7.0        NaN  8.75   9.3  9.75  27.80         9
1              7.0        2.0  8.75   9.6  9.25  29.60         2
..             ...        ...   ...   ...   ...    ...       ...
316            7.0        NaN  7.00   6.6  8.25  21.85       317
152            7.0        2.0  7.50   8.1  6.25  23.85       153
151            8.0        2.0  5.75   8.6  7.50  23.85       152
317            7.0        NaN  7.25   8.3  6.25  21.80       318
318            8.0        NaN  6.25   8.8  6.75  21.80       319

     Điểm Trung Bình  Điểm Trung Bình Toán Anh  Điểm Tổng 3 Môn  \
3           9.333333                     9.625            28.00
5           9.300000                     9.700            27.90
7           9.300000                     9.450            27.90
8           9.266667                     9.525            27.80
1           9.200000                     9.425            27.60
..               ...                       ...              ...
316         7.283333                     7.425            21.85
152         7.283333                     7.175            21.85
151         7.283333                     8.050            21.85
317         7.266667                     7.275            21.80
318         7.266667                     7.775            21.80

     Điểm Tổng 3 Môn và điểm cộng
3                           28.00
5                           27.90
7                           27.90
8                           27.80
1                           31.60
..                            ...
316                         21.85
152                         25.85
151                         25.85
317                         21.80
318                         21.80

[300 rows x 15 columns]

In [50]:
## So sánh 2 bạn sinh viên mã số: 60575 và 60602 dựa trên tổng điểm 3 môn (không tính điểm cộng)

# Lọc thông tin của hai sinh viên theo mã số
student_1 = dataset.loc[dataset['Mã số'] == 60575]
student_2 = dataset.loc[dataset['Mã số'] == 60602]

# Kiểm tra xem hai sinh viên có tồn tại không
if not student_1.empty and not student_2.empty:
    # Lấy tổng điểm 3 môn cho cả hai sinh viên
    total_score_student_1 = student_1['Điểm Tổng 3 Môn'].values[0]
    total_score_student_2 = student_2['Điểm Tổng 3 Môn'].values[0]

    # So sánh tổng điểm
    if total_score_student_1 > total_score_student_2:
        print(f"Sinh viên mã số 60575 có tổng điểm 3 môn cao hơn sinh viên mã số 60602.")
    elif total_score_student_1 < total_score_student_2:
        print(f"Sinh viên mã số 60602 có tổng điểm 3 môn cao hơn sinh viên mã số 60575.")
    else:
        print("Hai sinh viên có tổng điểm 3 môn bằng nhau.")
else:
    print("Một hoặc cả hai sinh viên không tồn tại trong danh sách.")

Sinh viên mã số 60602 có tổng điểm 3 môn cao hơn sinh viên mã số 60575.